#border-container {
  display: inline-block;
  padding: 10px;
  background-color: #BEBFC0;
}

#minesweeper {
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

.cell {
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 4px;
  font-family: monospace;
  background-color: #C0C0C0;
}

.revealed {
  border: 1px solid #828282;
  font-weight: bold;
  text-align: center;
  padding-left: 7px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-top: 7px;
  min-width: 11px;
}

.cell-X {
  color: red;
}

.cell-0 {
  background-color: #C2C2C2;
}

.cell-1 {
  color: blue;
}

.cell-2 {
  color: green;
}

.cell-3 {
  color: red;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
