table, td, tr {
  border-collapse: collapse;
  border-style: hidden;
  border: 1px solid black
}

td {
  padding: 10px;
  margin: 10px;
  font-family: monospace;
  background-color: #B2B2B2;
}

.cell {
  font-weight: bold;
}

.cell-X {
  color: red;
}

.cell-0 {
  background-color: #C2C2C2;
}

.cell-1 {
  color: blue;
}

.cell-2 {
  color: green;
}

.cell-3 {
  color: red;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
